%header.details__header
  = image_tag user[:photo], class: 'details__img', alt: 'alt-avatar'
  %p.details__name= "#{user[:first_name]} #{user[:last_name]}"
.messages-box
  .messages-box__list
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    .messages-box__item
      %i.messages-box__delete
      %p.messages-box__message
        %span.messages-box__name Kogut
        %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
%footer.details__footer
  %form.send-message{:action => ""}
    %textarea.send-message__text{:id => "", :name => ""}
    %input.send-message__submit{:type => "submit", :value => "Send"}