%section.content.container.cf
  %aside.aside.f-l
    %ul.aside__list
      - @friends.each do |friend|
        %li.aside__item
          %a.friend-box{:href => "#"}
            %img.friend-box__img{:alt => "", :src => "../assets/images/icons/git_icon.png"}/
            %p.friend-box__name= "#{friend[:last_name]} #{friend[:first_name]} "
  .details.f-r
    %header.details__header
      %img.details__img{:alt => "", :src => "../assets/images/icons/git_icon.png"}/
      %p.details__name Andrey Kogut
    .messages-box
      .messages-box__list
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
        .messages-box__item
          %i.messages-box__delete
          %p.messages-box__message
            %span.messages-box__name Kogut
            %span.messages-box__text DFsfsdfsn fs jdnfslnd fljs n
    %footer.details__footer
      %form.send-message{:action => ""}
        %textarea.send-message__text{:id => "", :name => ""}
        %input.send-message__submit{:type => "submit", :value => "Send"}/
%script{:src => "../assets/libraries/jquery.js"}
%script{:src => "../assets/javascripts/application.js"}