default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: asfasf
  host: localhost

development:
  <<: *default
  database: VKMessenger_dev

test:
  <<: *default
  database: VKMessenger_test

production:
  <<: *default
  database: VKMessenger_prod