.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Tahoma, sans-serif;
}
.header {
  background: #426387;
}
.navigation {
  display: block;
  width: 100%;
}
.navigation__logo {
  width: 85px;
  height: 21px;
  background: url(../images/icons/logo.png) center center no-repeat;
  background-size: contain;
  display: inline-block;
}
.navigation__list {
  display: inline-block;
}
.navigation__item {
  display: inline-block;
  padding: 5px 20px;
}
.navigation__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.navigation__link:hover {
  text-decoration: underline;
}
.footer {
  background: #000;
  color: #fff;
}
.footer__licence {
  font-size: 12px;
  display: inline-block;
}
.contacts__item {
  display: inline-block;
  margin: 0 10px;
}
.contacts__link {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
}
.contacts__link_fb {
  background: url(../images/icons/fb.png) center center no-repeat;
  background-size: contain;
}
.contacts__link_fb:hover {
  background-image: url(../images/icons/fb_hover.png);
}
.contacts__link_git {
  background: url(../images/icons/git_icon.png) center center no-repeat;
  background-size: contain;
}
.contacts__link_git:hover {
  background-image: url(../images/icons/git_icon_hover.png);
}
.contacts__link_vk {
  background: url(../images/icons/vk_custom.png) center center no-repeat;
  background-size: contain;
}
.contacts__link_vk:hover {
  background-image: url(../images/icons/vk_custom_hover.png);
}
