<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/stylesheets/application.css">
    <link rel="shortcut icon" href="../assets/images/icons/logo.png">
    <link rel="stylesheet" href="../assets/libraries/reset.css">
</head>
<body>


<header class="header ">
    <nav class="navigation container cf">
        <a href="#" class="navigation__logo"></a>
        <ul class="navigation__list f-r">
            <li class="navigation__item"><a href="#" class="navigation__link">Музика</a></li>
        </ul>
    </nav>
</header>
<section class="content container cf">
    <aside class="aside f-l">
        <ul class="aside__list">
            <li class="aside__item"><a href="#" class="friend-box">
                <img class="friend-box__img" src="../assets/images/icons/git_icon.png" alt=""><p class="friend-box__name">Andrey Kogut</p>
            </a></li>
            <li class="aside__item"><a href="#" class="friend-box">
                <img class="friend-box__img" src="../assets/images/icons/git_icon.png" alt=""><p class="friend-box__name">Andrey Kogut</p>
            </a></li>
            <li class="aside__item"><a href="#" class="friend-box">
                <img class="friend-box__img" src="../assets/images/icons/git_icon.png" alt=""><p class="friend-box__name">Andrey Kogut</p>
            </a></li>
            <li class="aside__item"><a href="#" class="friend-box">
                <img class="friend-box__img" src="../assets/images/icons/git_icon.png" alt=""><p class="friend-box__name">Andrey Kogut</p>
            </a></li>
            <li class="aside__item"><a href="#" class="friend-box">
                <img class="friend-box__img" src="../assets/images/icons/git_icon.png" alt=""><p class="friend-box__name">Andrey Kogut</p>
            </a></li>
            <li class="aside__item"><a href="#" class="friend-box">
                <img class="friend-box__img" src="../assets/images/icons/git_icon.png" alt=""><p class="friend-box__name">Andrey Kogut</p>
            </a></li>
            <li class="aside__item"><a href="#" class="friend-box">
                <img class="friend-box__img" src="../assets/images/icons/git_icon.png" alt=""><p class="friend-box__name">Andrey Kogut</p>
            </a></li>
            <li class="aside__item"><a href="#" class="friend-box">
                <img class="friend-box__img" src="../assets/images/icons/git_icon.png" alt=""><p class="friend-box__name">Andrey Kogut</p>
            </a></li>
        </ul>
    </aside>
    <div class="details f-r">
        <header class="details__header">
            <img class="details__img" src="../assets/images/icons/git_icon.png" alt=""><p class="details__name">Andrey Kogut</p>
        </header>
        <div class="messages-box">
            <div class="messages-box__list">
                <div class="messages-box__item">
                    <i class="messages-box__delete">
                    </i>
                    <p class="messages-box__message">
                        <span class="messages-box__name">Kogut</span>
                        <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                    </p>
                </div>
                <div class="messages-box__item">
                    <i class="messages-box__delete">
                    </i>
                    <p class="messages-box__message">
                        <span class="messages-box__name">Kogut</span>
                        <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                    </p>
                </div>
                <div class="messages-box__item">
                    <i class="messages-box__delete">
                    </i>
                    <p class="messages-box__message">
                        <span class="messages-box__name">Kogut</span>
                        <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                    </p>
                </div>
                <div class="messages-box__item">
                    <i class="messages-box__delete">
                    </i>
                    <p class="messages-box__message">
                        <span class="messages-box__name">Kogut</span>
                        <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                    </p>
                </div>
                <div class="messages-box__item">
                    <i class="messages-box__delete">
                    </i>
                    <p class="messages-box__message">
                        <span class="messages-box__name">Kogut</span>
                        <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                    </p>
                </div>
                <div class="messages-box__item">
                    <i class="messages-box__delete">
                    </i>
                    <p class="messages-box__message">
                        <span class="messages-box__name">Kogut</span>
                        <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                    </p>
                </div>
                <div class="messages-box__item">
                    <i class="messages-box__delete">
                    </i>
                    <p class="messages-box__message">
                        <span class="messages-box__name">Kogut</span>
                        <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                    </p>
                </div><div class="messages-box__item">
                <i class="messages-box__delete">
                </i>
                <p class="messages-box__message">
                    <span class="messages-box__name">Kogut</span>
                    <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                </p>
            </div>
                <div class="messages-box__item">
                    <i class="messages-box__delete">
                    </i>
                    <p class="messages-box__message">
                        <span class="messages-box__name">Kogut</span>
                        <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                    </p>
                </div>
                <div class="messages-box__item">
                    <i class="messages-box__delete">
                    </i>
                    <p class="messages-box__message">
                        <span class="messages-box__name">Kogut</span>
                        <span class="messages-box__text">DFsfsdfsn fs jdnfslnd fljs n</span>
                    </p>
                </div>

            </div>
        </div>
        <footer class="details__footer">
            <form action="" class="send-message">
            <textarea name="" id=""  class="send-message__text"></textarea>
                <input type="submit" class="send-message__submit" value="Send">
            </form>
        </footer>
    </div>
</section>
<footer class="footer">
    <div class="container cf">
    <p class="footer__licence">Licenced to us. 2016</p>
    <ul class="contacts f-r">
        <li class="contacts__item"><a href="#" class="contacts__link contacts__link_vk"></a></li>
        <li class="contacts__item"><a href="#" class="contacts__link contacts__link_git"></a></li>
        <li class="contacts__item"><a href="#" class="contacts__link contacts__link_fb"></a></li>
    </ul>
    </div>
</footer>
</body>
<script src="../assets/libraries/jquery.js"></script>
<script src="../assets/javascripts/application.js"></script>
</html>