<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/stylesheets/application.css">
    <link rel="shortcut icon" href="../assets/images/icons/logo.png">
    <link rel="stylesheet" href="../assets/libraries/reset.css">
</head>
<body>

</body>
<header class="header ">
    <nav class="navigation container cf">
        <a href="#" class="navigation__logo"></a>
        <ul class="navigation__list f-r">
            <li class="navigation__item"><a href="#" class="navigation__link">Друзі</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Діалоги</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Музика</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Повідомлення</a></li>
        </ul>
    </nav>
</header>
<div class="content">

</div>
<footer class="footer">
    <div class="container cf">
    <p class="footer__licence">Licenced to us. 2016</p>
    <ul class="contacts f-r">

        <li class="contacts__item"><a href="#" class="contacts__link contacts__link_vk"></a></li>
        <li class="contacts__item"><a href="#" class="contacts__link contacts__link_git"></a></li>
        <li class="contacts__item"><a href="#" class="contacts__link contacts__link_fb"></a></li>
    </ul>
    </div>
</footer>
<script src="../assets/libraries/jquery.js"></script>
<script src="../assets/javascripts/application.js"></script>
</html>