%footer.footer
  .container.cf
    %p.footer__licence Licenced to us. 2016
    %ul.contacts.f-r
      %li.contacts__item
        %a.contacts__link.contacts__link_vk{:href => ""}
      %li.contacts__item
        %a.contacts__link.contacts__link_git{:href => "#"}
      %li.contacts__item
        %a.contacts__link.contacts__link_fb{:href => "#"}
