%header.header
  %nav.navigation.container.cf
    =link_to '', root_path, class: 'navigation__logo'
    %ul.navigation__list.f-r
      %li.navigation__item
        =link_to 'Друзі', '#', class: 'navigation__link'
      %li.navigation__item
        =link_to 'Діалоги', '#', class: 'navigation__link'
      %li.navigation__item
        =link_to 'Музика', music_path, class: 'navigation__link'
      %li.navigation__item
        =link_to 'Повідомлення', '#', class: 'navigation__link'
